* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Josegin Sans', sans-serif;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
  padding-left: 10%;
  padding-right: 10%;
}

.logo{
  color: black;
  font-size: 28px;
}

.logo a{
  text-decoration: none;
  color: black;
}

nav ul li{
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px;
}

nav ul li a{
  color: black;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover{
  color: #58c0ab;
  transition: .3s;
}

button{
  border: none;
  background: #58c0ab;
  padding: 12px 30px;
  border-radius: 30px;
  color: white;
  font-weight: bold;
  font-size: 15px;
  transition: .4s;
}

button:hover{
  transform: scale(1.1);
  cursor: pointer;
}

span{
  color: #58c0ab;
}
