<link rel="stylesheet" type="text/css" href="navbar.component.css">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,100&display=swap" rel="stylesheet">


<header>
<div class="principal">
    <nav>
        <h2 class="logo">Ossain <span>App</span></h2>
        <ul>
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/">About</a></li>
            <li><a routerLink="/">Denuncia</a></li>
            <li><a routerLink="/">Listar</a></li>

        </ul>
        <button type="button">Registrar</button>
    </nav>
</div>
</header>
