body {
    background-image: url("../../../assets/Background.png");
    background-repeat: no-repeat;
    background-position: center;
}

.main{
    z-index: 10000;
    text-decoration: none;
    justify-content: space-around;
    margin: 10%;
    display: flex;
    margin-bottom: 14%;
}

.monkey{
    width: 95%;
    height: 95%;
    margin-top: 3%;
}

.text{
    margin-right: -15%;
    text-align: left;
    width: 70%;
}

.text h2{
    color: #58c0ab;
    font-size: 45px;
}

.text span{
    text-decoration: underline;
}

.text p{
    font-size: 20px;
    text-align: justify;
}

.fundoMonkey{
    position: relative;
    text-align: center;
    background-color: #58c0ab;
}
/* 
.fundoGeral{
    margin-bottom: -75%;
    width: 100%;
    height: 100%;
} */